*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.keys
sdk/build/*
sdk/res/
sdk/.gitignore
sdk/build.gradle.kts
sdk/consumer-rules.pro
sdk/proguard-rules.pro
sdk/src/main/java/ai/scandoc/sdk/authorization
sdk/src/main/java/ai/scandoc/sdk/nfc
sdk/src/main/java/ai/scandoc/sdk/processing
sdk/src/main/java/ai/scandoc/sdk/datamodels/Settings.kt
sdk/src/main/java/ai/scandoc/sdk/datamodels/responses/AuthorizationResponse.kt
sdk/src/main/java/ai/scandoc/sdk/datamodels/responses/RefreshResponse.kt
sdk/src/main/java/ai/scandoc/sdk/datamodels/responses/ValidationResponse.kt

sdk/src/main/java/ai/scandoc/sdk/NFCHandler.kt
sdk/src/main/java/ai/scandoc/sdk/ScanDocFragment.kt
sdk/src/main/java/ai/scandoc/sdk/ScanDocNFCFragment.kt
sdk/src/main/java/ai/scandoc/sdk/ScanDocSDKConfig.kt
